<div class="finder">
  <h1><%= @article.name %> <a class="save" href="/wiki/<%= URI.escape @article.name %>">Save</a></h1>
  <nav class="in">
    <h2>Links In</h2>
    <ul>
      <% @article.inlinks.each do |title| %>
        <li>
          <a href="/wiki/<%= URI.escape title %>"><%= title %></a>
          <!--
          <ul>
            <li><a href="#">Influenced</a></li>
            <li><a href="#">Influenced By</a></li>
          </ul>
          -->
        </li>
      <% end %>
    </ul>
  </nav>
  <nav class="out">
    <h2>Links Out</h2>
    <ul>
      <% @article.outlinks.each do |title| %>
        <li>
          <a href="/wiki/<%= URI.escape title %>"><%= title %></a>
          <!--
          <ul>
            <li><a href="#">Influenced</a></li>
            <li><a href="#">Influenced By</a></li>
          </ul>
          -->
        </li>
      <% end %>
    </ul>
  </nav>
</div>


<hr class="hide">

<section class="article-text">
  <%= @article.html %>
</section>

<script type="text/javascript">

  /* Find if the current article is saved. */
  var findSaved = function () {
    var articleName = $("a.save").attr('href').replace(/^.*\/wiki\/(.*)$/, '$1');
  
    Weaver.Article.find( article, function (context, article) {
      if (article) {
        $("a.save").each( function (link) {
          if ($(link).attr('href').match(articleName)) {
            link.setAttribute('class', 'saved');
            link.innerText('Saved!');
          }
        });
      }
    });
  };

  // Do it once at startup.
  findSaved();

  // Do it once we've saved the article.
  $('a.save').live('click', function() {
    var slug = $(this).attr('href').replace(/^.*\/wiki\/(.*)$/, '$1'),
        name = decodeURIComponent(slug);
        article = new Weaver.Article(name);

    article.save();

    findSaved();

    return false;
  });


</script>

